.platform{
    background: linear-gradient(90deg, #f8eef0 40%, #eedee2 100%);
    color: $primary;
   .inner{
    padding: 20px 5px;
    @include grid(repeat(2, 1fr), 40px);
    h1{
        font-size: 80px; 
    }
    img{
        width: 500px;
        font-weight: 900;
        margin-left: $md;
        border-radius: 8px;
    }
   }
}